table {
    border-collapse: collapse;
    width: 100%;
  }
#forecast {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #forecast td, #forecast th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #forecast tr:nth-child(even){background-color: #f2f2f2;}
  
  #forecast tr:hover {background-color: #ddd;}
  
  #forecast th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0a0f0d;
    color: white;
  }